nav {
    background-color: #ffffff;
    border-color: #cccccc;
    color: darkgray;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    width: 100%;
    padding: 25px;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
    border-bottom: solid;
    border-color: lightgray;
}

.navname {
    text-align: center;
    line-height: 45px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: 525;
    width: 200px;
    height: 50px;
    position: fixed;
    top: 0;
    padding: 0;
    margin-left: 248px;
    border: none;
    background-color: #4aaaa5;
    color: white;
}

.navmenu {
    text-align: right;
    line-height: 50px;
    word-spacing: 25px;
    font-size: 13px;
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
    height: 50px;
    position: fixed;
    top: 0;
    padding: 0;
    margin-left: 1032px;
    border: none;
    background-color: #ffffff;
    color: darkslategray;
}

.contact1 {
    text-align: left;
    font-size: 13px;
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
    line-height: 30px;
    position: static;
    height: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    padding-left: 5px;
    border-color: darkgray;
}

.contact2 {
    position: static;
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: darkgray;
}

.submitbutton {
    text-align: center;
    font-size: 13px;
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
    position: static;
    line-height: 30px;
    height: 30px;
    width: 80px;
    border: none;
    background-color: #4aaaa5;
    color: white;
}

a:link {
    color: white;
    background: transparent;
    text-decoration: none;
}

a:focus {
    color: white;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background: transparent;
    text-decoration: underline;
}

section.fixed {
    position: fixed;
    width: 960px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    z-index: 3;
}

div.relative1 {
    position: relative;
    width: 175px;
    height: 150px;
    border: solid;
    border-width: 1px;
    padding: 0 15px 15px 0;
    z-index: 1;
    margin-right: 15px;
}

div.relative2 {
    position: relative;
    width: 175px;
    height: 150px;
    border: solid;
    border-width: 1px;
    padding: 0 15px 15px 0;
    z-index: 1;
    float: right;
    margin-left: 15px;
}

div.absolutebox1 {
    text-align: center;
    position: absolute;
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
    bottom: 10px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #4aaaa5;
    color: white;
    padding-right: 1px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

h1 {
    color: #4aaaa5;
}

hr {
    background-color: #4aaaa5;
}

/* Background pattern from Toptal Subtle Patterns */
body {
    background-image: url("https://raw.githubusercontent.com/carsoncurry/Basic-Portfolio/master/assets/images/qbkls.png");
}

.content {
    background-color: #ffffff;
    width: 960px;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    position: relative;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
    color: whitesmoke;
    font-family: 'Arial', 'Helvetica New', Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    border-top: solid;
    border-color: #4aaaa5;
    width: 100%;
    padding: 15px;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
}